<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.cyan.min.css" />
    <title>Greenroom: {{ title }}</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><h1>Greenroom</h1></li>
            </ul>
            <ul>
                <li><a role="button" href="/greenroom/">Home</a></li>
                <li><a role="button" href="/greenroom/posts">Log</a></li>
                <li><a role="button" href="/greenroom/pages">Manual</a></li>
            </ul>
        </nav>
        <h1>{{ title }}</h1>
    </header>
    <main>
        {{ content }}
    </main>
    <footer>
        <p><em>SpaceSailer 22 Greenroom EF303 East Fremantle Yacht Club Western Australia</em></p>
    </footer>
</body>

</html>