{% extends 'blades/html.njk' %}

{% if not site.prod %}
  {% set site = site | attr_set('styles', site.styles | join('|') | replace('https://cdn.jsdelivr.net/npm/@anyblades/blades@^3.0.0-0/css', '') | split('|')) %}
{% endif %}

{% set content_for_header %}
  <meta name="generator" content="{{ site.generator }}">
  <meta property="og:title" content="{{ title | d(site.title) | striptags }}">
  <meta name="twitter:card" content="summary_large_image">
  <link rel="stylesheet" href="/greenroom.css">
  {{ content_for_header | safe }}
{% endset %}

{% block body %}
<nav class="container">
  <a href="/" class="brand">
    <span class="brand-logo" aria-hidden="true"></span>
    <span class="brand-name">
      <strong>Greenroom</strong>
      <small>Space Sailer 22</small>
    </span>
  </a>

  {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
</nav>

  {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
</nav>
  <main class="container breakout-all">
    {% if title %}<h1>{{ title }}</h1>{% endif %}
    {% if description %}<p><big>{{ description }}</big></p>{% endif %}
    {{ content | safe }}
  </main>
  <hr>
  <footer>{{ site.footer | safe }} © {{ site.year }}</footer>
{% endblock %}
