/* typography */

@font-face {
    font-family: "American Typewriter Regular";
    src: url("../fonts/American Typewriter Regular.woff2");
}
.logo {
    color: var(--pico-primary);
    text-decoration: none;
    font-family: "American Typewriter Regular", sans-serif;
    font-size: 3rem;

    display: flex;
}

.logo:before {
    content: "";
    flex: 0 0 10%;
    background-repeat: no-repeat;
    background-size: auto 80%;
    background-image: url("../images/simple-gr22-cyan.png");
    background-position: left center;
}

@media screen and (max-width: 768px) {
    .logo:before {
        flex: 0 0 20%;
    }
  }

h1, h2 {
    color: var(--pico-primary);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

hgroup > *:not(:first-child):last-child {
  font-style: italic;
}

.copyright {
    font-size: small;
}

nav a {
    font-weight: bold;
}

/* colours */

/* define select colours as rgba values for adding alpha */
/* [data-theme=light],
:root:not([data-theme=dark]) {
    --pico-background-color-rgb: 255, 255, 255;
}

[data-theme=dark] {
    --pico-background-color-rgb: 19, 23, 31;
} */

/* layout */

:root {
    --pico-background-color-rgba: rgba(255, 255, 255, 0.9); /* Light mode background color with alpha */
}

@media (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
        --pico-background-color-rgba: rgba(19, 23, 31, 0.1); /* Dark mode background color with alpha */
    }
}

body {
    background-image: url(/greenroom/assets/images/simple-gr22-cyan.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top 25% right 50%;
    background-attachment: fixed;
    background-color: var(--pico-background-color-rgba);
    background-blend-mode: overlay;
}

footer {
    background: linear-gradient(to bottom, transparent, var(--pico-background-color-rgba));
}