/* typography */

@font-face {
    font-family: "American Typewriter Regular";
    src: url("../fonts/American Typewriter Regular.woff2");
}

.logo {
    font-family: "American Typewriter Regular", sans-serif;
    color: var(--pico-primary-background);
    font-size: 3rem;
    text-decoration: none;
    transition: all 0.3s;
}

h1, h2 {
    color: var(--pico-primary-background);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

hgroup > *:not(:first-child):last-child {
  font-style: italic;
}

.copyright {
    font-size: small;
}

nav a {
    font-weight: bold;
}

/* layout */

body {
    background-image: url(/greenroom/assets/images/simple-gr22-cyan.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top 25% right 50%;
    background-attachment: fixed;
    background-color: rgba(255, 255, 255, 0.9);
    background-blend-mode: lighten;
}