@font-face {
    font-family: "American Typewriter Regular";
    src: url("../fonts/American Typewriter Regular.woff2");
}

nav h1 {
    font-family: "American Typewriter Regular", sans-serif;
    color: var(--pico-primary-background);
    font-size: 3rem;
    font-weight: normal;
}

.copyright {
    font-size: small;
}