@font-face {
    font-family: "American Typewriter Regular";
    src: url("../fonts/American Typewriter Regular.woff2");
}

h1 {
    font-family: "American Typewriter Regular";
}

.copyright {
    font-size: small;
}